{% extends "webview/base.html" %}
{% block title %}About Us{% endblock %}
{% block aboutus %}active{% endblock %}
{% load static %}
{% block content %}
<div class="feature10">
    <div class="row">
        <!-- column  -->
        <div class="col-lg-4 bg-megna">
            <div class="wrap-feature10-box text-center">
                <div class="display-4 m-b-20"><i class="icon-Talk-Man"></i></div>
                <h4 class="box-title">Perfect Team</h4>
                <p class="op-8">Top Line Floors is a group of flooring professionals with more than 15+ years of experience in providing exceptional flooring services.</p>
            </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-4 bg-primary">
            <div class="wrap-feature10-box text-center">
                <div class="display-4 m-b-20"><i class="icon-Chrysler-Building"></i></div>
                <h4 class="box-title">Outstanding Service</h4>
                <p class="op-8">Our flooring services are highly recomended by flooring professional from across Australia. We have been providing exellent service for more than 10+ years.</p>
            </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-4 bg-orange">
            <div class="wrap-feature10-box text-center">
                <div class="display-4 m-b-20"><i class="icon-Mouse-3"></i></div>
                <h4 class="box-title">Well Focused</h4>
                <p class="op-8">Our team is well focused on providing best flooring services all over Australia. We have 100% job completition and customer satisfaction rate which keeps us motivated to provide best services.</p>
            </div>
        </div>
        <!-- column  -->

    </div>
</div>
{% endblock %}