<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>
        {% block title %} {% endblock %}
      </title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'webview/assets/node_modules/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- This is for the animation CSS -->
    <link href="{% static 'webview/assets/node_modules/aos/dist/aos.css' %}" rel="stylesheet">
    <link href="{% static 'webview/assets/node_modules/prism/prism.css' %}" rel="stylesheet">
    <link href="{% static 'webview/assets/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' %}" rel="stylesheet">
    <!-- This page CSS -->
    <!-- Custom CSS -->
    <link href="{% static 'webview/css/aboutus/aboutus.css' %}" rel="stylesheet">
	<link href="{% static 'webview/css/contact/contact.css' %}" rel="stylesheet">
    <link href="{% static 'webview/css/headers/headers1-10.css' %}" rel="stylesheet">
    <link href="{% static 'webview/css/features/features11-20.css' %}" rel="stylesheet">
    <link href="{% static 'webview/css/features/features1-10.css' %}" rel="stylesheet">
	<link href="{% static 'webview/css/demo.css' %}" rel="stylesheet">
	<link href="{% static 'webview/css/sliders/static-slider1-10.css' %}" rel="stylesheet">
    <link href="{% static 'webview/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css 
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Wrapkit</p>
        </div>
    </div>
     ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                                <!-- ============================================================== -->
                <!-- Header 17  -->
                <!-- ============================================================== -->
                <div class="header4 po-relative">
                    <div class="h4-topbar">
                        <div class="container">
                            <nav class="navbar navbar-expand-lg h4-nav">
                                <a class="hidden-lg-up">Menu</a>
                                <button class="navbar-toggler text-white collapsed" type="button" data-toggle="collapse" data-target="#header4" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="ti-menu"></span>
                                </button>
                                <div class="navbar-collapse collapse" id="header4" style="">
                                    <div class="hover-dropdown">
                                        <ul class="navbar-nav">
                                            <li class="nav-item {% block active_home %}{% endblock %}"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                                            <li class="nav-item dropdown {% block active_services %}{% endblock %}">
                                                <a class="nav-link dropdown-toggle" href="#" id="h4-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Services <i class="fa fa-angle-down m-l-5"></i>
                                                </a>
                                                <ul class="b-none dropdown-menu animated fadeInUp">
                                                    <li class="dropdown-submenu"> <a class="dropdown-toggle dropdown-item" href="{% url 'services' 'epoxy' %}">Epoxy Flooring <i class="fa fa-angle-right ml-auto"></i></a>

                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                    <li class="dropdown-submenu"> <a class="dropdown-toggle dropdown-item" href="{% url 'services' 'concrete-polish' %}" >Concrete Polishing<i class="fa fa-angle-right ml-auto"></i></a>
                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                    <li class="dropdown-submenu"> <a class="dropdown-toggle dropdown-item" href="{% url 'services' 'overlays-and-terrazzo' %}">Overlays & Terrazzo <i class="fa fa-angle-right ml-auto"></i></a>
                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                    <li class="dropdown-submenu"> <a class="dropdown-toggle dropdown-item" href="{% url 'services' 'floor-preparation' %}" >Floor Preparation <i class="fa fa-angle-right ml-auto"></i></a>
                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                    <li class="dropdown-submenu"> <a class="dropdown-toggle dropdown-item" href="{% url 'services' 'floor-repairs' %}" >Floor Repairs <i class="fa fa-angle-right ml-auto"></i></a>
                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                    <li class="dropdown-submenu"> <a class="dropdown-toggle dropdown-item" href="{% url 'services' 'floor-safety-installation' %}" >Floor Safety Installation <i class="fa fa-angle-right ml-auto"></i></a>
                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item {% block contactus %}{% endblock %}"><a class="nav-link" href="{% url 'contactus' %}">Contact Us</a></li>
                                            <li class="nav-item {% block aboutus %}{% endblock %}"><a class="nav-link" href="{% url 'aboutus' %}">About Us</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="h4-navbar">
                        <div class="container">
                            <nav class="navbar navbar-expand-lg h4-nav-bar">
                                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'webview/assets/topline-logo.png' %}" alt="Topline Floors" style="height:65px;"></a>
                                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#h4-info" aria-controls="h4-info" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="sl-icon-options-vertical"></span>
                                </button>
                                <div class="navbar-collapse collapse" id="h4-info" style="">
                                    <ul class="navbar-nav ml-auto text-uppercase">
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <div class="display-6 m-r-10"><i class="icon-Mail"></i></div>
                                                <div><small>Email us at</small>
                                                    <h6 class="font-bold">peter@toplinefloors.com.au</h6></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <div class="display-6 m-r-10"><i class="icon-Phone-2"></i></div>
                                                <div><small>CALL US NOW</small>
                                                    <h6 class="font-bold">1300 306 838</h6></div>
                                            </a>
                                        </li>
                                        <li class="nav-item donate-btn"><button class="btn btn-outline-danger" data-toggle="modal" data-target="#getQuote">Get Free Quote</button></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Header 17 -->
                <!-- ============================================================== -->
               
                {% if messages  %}
                {% for message in messages %}
                <div class="alert {{message.tags}} alert-rounded mx-2"> {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                {% endfor %}
              {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer6 bg-inverse py-5">
			<div class="container">
				<div class="row">
					
					<!-- coluumn -->
					<div class="col-md-12 text-center">
						<div class="ml-auto round-social dark">
							<a href="https://www.facebook.com/Topline-Floors-105969237935781/" class=""><i class="fa fa-facebook"></i></a>
							<a href="https://www.instagram.com/toplinefloors/" class=""><i class="fa fa-instagram"></i></a>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<div class="p-t-20">Copyright 2020. All Rights Reserved by Top Line Floors.</div>
					</div>
				</div>
			</div>
		</footer>
    </div>
    <div id="getQuote" class="modal fade custom-modal modal3" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content po-relative">
                <div class="modal-body p-0">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 modal-bg-img" style="background-image: url( {% static 'webview/assets/images/4.jpg' %});">
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="modal-bg p-3">
                                <h6 class="subtitle m-t-20">
                                    Provide all the necessary details below to get free quotation. Our customer support team will contact you within an hour.
                                </h6>
                                <form class="m-t-30"  method='POST' action="{% url 'getQuotation' %}">
                                    {% csrf_token %}
                                    <h6 class="m-b-20 text-uppercase font-semibold">Request Free Quote</h6>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="fullname" placeholder="Full Name" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="contact_number" placeholder="Contact Number" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="form-control" type="email" name="sender_email" placeholder="Email" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <select class="custom-select" name="quotation_for" id="inlineFormCustomSelect" required>
                                                    <option>Quotation for?</option>
                                                    <option value="Epoxy Flooring">Epoxy Flooring</option>
                                                    <option value="Epoxy Flake Flooring">Epoxy Flake Flooring</option>
                                                    <option value="Epoxy Terrazzo">Epoxy Terrazzo</option>
                                                    <option value="Epoxy Coving">Epoxy Coving</option>
                                                    <option value="Lined Marking">Lined Marking</option>
                                                    <option value="Concrete Polishing">Concrete Polishing</option>
                                                    <option value="Concrete Grind & Seal">Concrete Grind & Seal</option>
                                                    <option value="Polished Toppings">Polished Toppings</option>
                                                    <option value="Concrete Overlays">Concrete Overlays</option>
                                                    <option value="Super Terrazzo">Super Terrazzo</option>
                                                    <option value="Floor Leveling & Screeds">Floor Leveling & Screeds</option>
                                                    <option value="Safety Grinding/Non-Slip">Safety Grinding/Non-Slip</option>
                                                    <option value="Joint & Crack Repairing">Joint & Crack Repairing</option>
                                                    <option value="Tile, Carpet & Glue Removal">Tile, Carpet & Glue Removal</option>
                                                    <option value="Soft Fall Rubber Surface">Soft Fall Rubber Safety Surfaces</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="form-control" type="number" name="area" placeholder="Area in (m.sq)" required>
                                                <input class="form-control" type="hidden" name="redirect_url" value="{{redirect_url}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="form-control" type="text" name="inquiry_message" placeholder="Your message..." required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-rounded btn-danger-gradiant btn-arrow"><span>Submit<i class="ti-arrow-right" required></i></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="close-btn" data-dismiss="modal" aria-hidden="true">×</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'webview/assets/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="{% static 'webview/assets/node_modules/popper/dist/popper.min.js' %}"></script>
    <script src="{% static 'webview/assets/node_modules/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- This is for the animation -->
    <script src="{% static 'webview/assets/node_modules/aos/dist/aos.js' %}"></script>
    <script src="{% static 'webview/assets/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'webview/js/custom.min.js' %}"></script>
    <script src="{% static 'webview/assets/node_modules/prism/prism.js' %}"></script>
    <script>
    $('.tgl-cl').on('click', function() {
        $('body .h17-main-nav').toggleClass("show");
    });
    $('.h17-main-nav').perfectScrollbar();
    </script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
</body>

</html>