{% extends "webview/base.html" %}
{% block title %}Contact Us{% endblock %}
{% block contactus %}active{% endblock %}
{% load static %}
{% block content %}

				<div class="contact3 mini-spacer bg-light">
                    <div class="row">
                        <div class="container">
                            <div class="row m-0">
                                <div class="col-lg-6">
                                    <div class="card-shadow aos-init aos-animate" data-aos="flip-left" data-aos-duration="1200">
                                        <img src="{% static 'webview/img/contact-banner.jpg' %}" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="contact-box m-l-30">
                                        <h1 class="title font-light m-t-10">Quick Contact</h1>
                                        <form class="m-t-30 aos-init" method='POST' action="{% url 'contactus' %}" data-aos="fade-left" data-aos-duration="1200" required>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group m-t-15">
                                                        <input class="form-control" type="text" name="fullname" placeholder="Your Fullname" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group m-t-15">
                                                        <input class="form-control" type="email" name ="email" placeholder="Email Address" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group m-t-15">
                                                        <input class="form-control" type="text" name="phone" placeholder="Contact Number" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group m-t-15">
                                                        <textarea class="form-control" rows="3" name="message" placeholder="Your Message" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn btn-danger-gradiant m-t-20 btn-arrow"><span> SUBMIT <i class="ti-arrow-right"></i></span></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="card m-t-40 bg-light">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4">
                                                <div class="card-body d-flex no-block c-detail p-l-0">
                                                    <div class="m-r-20 align-self-center">
                                                        <img src="{% static 'webview/img/icon1.png' %}">
                                                    </div>
                                                    <div class="text-left mx-3">
                                                        <h6 class="font-medium">Address</h6>
                                                        <p class="">7 Banksia Court
                                                            <br> Sunbury VIC 3429</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="card-body d-flex no-block c-detail">
                                                    <div class="m-r-20 align-self-center">
                                                        <img src="{% static 'webview/img/icon2.png' %}">
                                                    </div>
                                                    <div class="text-left mx-3">
                                                        <h6 class="font-medium">Phone</h6>
                                                        <p class="">1300 306 838 
                                                            <br> 0448 823 870</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="card-body d-flex no-block c-detail">
                                                    <div class="m-r-20 align-self-center">
                                                        <img src="{% static 'webview/img/icon3.png' %}">
                                                    </div>
                                                    <div class="text-left mx-3">
                                                        <h6 class="font-medium">Email</h6>
                                                        <p class="">support@toplinefloors.com.au
                                                            <br> peter@toplinefloors.com.au</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

   {% endblock %}}