{% extends "webview/base.html" %}
{% block title %}Best Flooring Service Provider - Top Line Floors{% endblock %}
{% block active_home %}active{% endblock %}
{% load static %}
{% block content %}
				<div class="static-slider10" style="background-image:url({% static 'webview/img/home-banner.png' %})">
					<div class="container">
						<!-- Row  -->
						<div class="row justify-content-center ">
							<!-- Column -->
							<div class="col-md-6 align-self-center text-center aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">
								<h1 class="title">Over 35 Years of Excellent Service</h1>
								<br><br>
								<a class="btn btn-success-gradiant btn-rounded btn-md btn-arrow m-t-20" data-toggle="collapse" href=""><span>Our Services<i class="ti-arrow-right"></i></span></a>
								<a class="btn btn-success-gradiant btn-rounded btn-md btn-arrow m-t-20" data-toggle="modal" data-target="#getQuote" href=""><span>Get Free Quote<i class="ti-arrow-right"></i></span></a>

							</div>
							<!-- Column -->
						</div>
					</div>
				</div>
				<div class="bg-light py-5 feature3">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center">
                            <div class="col-md-7 text-center">
                                <h2 class="title">Our Flooring Services</h2>
                                <h6 class="subtitle">We provide variety of flooring services like Epoxy Flooring, Concrete Polishing, Overlays & Terrazzo, Floor preparation & Repairs, Floor Safety Installation.</h6>
                            </div>
                        </div>
                        <!-- Row  -->
                        <div class="row m-t-40">
							<!-- Column -->
							<div class="col-md-4 col-6 wrap-feature3-box" data-aos-duration="1200" data-aos="fade-right">
                                <div class="card b-h-box font-14">
                                    <img class="card-img min-height-250 img-object" src="{% static 'webview/img/epoxy-sm.png' %}" alt="Card image">
                                    <div class="card-img-overlay">
                                        <a href="{% url 'services' 'epoxy' %}"><h5 style="position:absolute; bottom:0; right:0;" class="mb-0 w-100 text-center py-2 card-title bg-dark-gray text-white"><b>Epoxy Flooring</b></h5></a>
                                    </div>
                                </div>
                            </div>
							<!-- Column -->
							<div class="col-md-4 col-6 wrap-feature3-box" data-aos-duration="1200" data-aos="fade-right">
                                <div class="card b-h-box font-14">
                                    <img class="card-img min-height-250 img-object" src="{% static 'webview/img/concrete-polish.png' %}" alt="Card image">
                                    <div class="card-img-overlay">
                                        <a href="{% url 'services' 'concrete-polish' %}"><h5 style="position:absolute; bottom:0; right:0;" class="mb-0 w-100 text-center py-2 card-title bg-dark-gray text-white"><b>Concrete Grind & Polishing</b></h5></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-4 col-6 wrap-feature3-box" data-aos-duration="1200" data-aos="fade-right">
                                <div class="card b-h-box font-14">
                                    <img class="card-img min-height-250 img-object" src="{% static 'webview/img/terrazzo.png' %}" alt="Card image">
                                    <div class="card-img-overlay">
                                        <a href="{% url 'services' 'overlays-and-terrazzo' %}"><h5 style="position:absolute; bottom:0; right:0;" class="mb-0 w-100 text-center py-2 card-title bg-dark-gray text-white"><b>Overlays & Terrazzo</b></h5></a>
                                    </div>
                                </div>
                            </div>
							<!-- Column -->
							<div class="col-md-4 col-6 wrap-feature3-box" data-aos-duration="1200" data-aos="fade-right">
                                <div class="card b-h-box font-14">
                                    <img class="card-img min-height-250 img-object" src="{% static 'webview/img/repair.png' %}" alt="Card image">
                                    <div class="card-img-overlay">
                                        <a href="{% url 'services' 'floor-repairs' %}"><h5 style="position:absolute; bottom:0; right:0;" class="mb-0 w-100 text-center py-2 card-title bg-dark-gray text-white"><b>Floor Repairing</b></h5></a>
                                    </div>
                                </div>
                            </div>
							<!-- Column -->
							<div class="col-md-4 col-6 wrap-feature3-box" data-aos-duration="1200" data-aos="fade-right">
                                <div class="card b-h-box font-14">
                                    <img class="card-img min-height-250 img-object" src="{% static 'webview/img/floor-preparation.png' %}" alt="Card image">
                                    <div class="card-img-overlay">
                                        <a href="{% url 'services' 'floor-preparation' %}"><h5 style="position:absolute; bottom:0; right:0;" class="mb-0 w-100 text-center py-2 card-title bg-dark-gray text-white"><b>Floor Preparation</b></h5></a>
                                    </div>
                                </div>
                            </div>
							<!-- Column -->
							<div class="col-md-4 col-6 wrap-feature3-box" data-aos-duration="1200" data-aos="fade-right">
                                <div class="card b-h-box font-14">
                                    <img class="card-img min-height-250 img-object" src="{% static 'webview/img/floor-safety.png' %}" alt="Card image">
                                    <div class="card-img-overlay">
                                        <a href="{% url 'services' 'floor-safety-installation' %}"><h5 style="position:absolute; bottom:0; right:0;" class="mb-0 w-100 text-center py-2 card-title bg-dark-gray text-white"><b>Floor Safety Installation</b></h5></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->

                        </div>
                    </div>
                </div>
            </div>
			<div class="mini-spacer bg-info text-white">
                <div class="container">
                    <div class="d-flex">
                        <div class="display-7 align-self-center"><strong>Are you happy with what we offer? Get free quote within an hour.</strong></div>
                        <div class="ml-auto m-t-10 m-b-10">
                            <button class="btn btn-outline-light btn-md" data-toggle="modal" data-target="#getQuote">Ask for Quatation</button>
                        </div>
                    </div>	
                </div>
            </div>
			    <!-- ============================================================== -->    <!-- ============================================================== -->
    <!-- Modal -->
    <!-- ============================================================== -->    <!-- ============================================================== -->
    
	
{% endblock %}