{% extends "webview/base.html" %}
{% block title %}Epoxy Flooring Services{% endblock %}
{% block active_services %}active{% endblock %}
{% load static %}
{% block content %}

				<div class="static-slider10" style="background-image:url({% static 'webview/img/epoxy_bg.png' %}); object-fit:contain;">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center ">
                            <!-- Column -->
                            <div class="col-md-6 align-self-center text-center aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">
                                <h1 class="title">Epoxy Flooring</h1>
                                <!--<a class="btn btn-outline-light btn-success-gradiant btn-rounded m-t-20 btn-md" data-toggle="modal" data-target="#static-slide7" href=""><i class="fa fa-play m-r-10"></i> Watch how we do </a> -->
                            </div>
                            <!-- Column -->
                            <div class="modal fade" id="static-slide7">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content p-0">
                                        <div class="modal-body p-0" id="yt-player">
                                            <iframe src="https://www.youtube.com/embed/DDwbjWCgxVM?" allowfullscreen="" class="w-100" height="315"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light py-5 px-2 feature15">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center">
                            <div class="col-md-7 text-center">
                                <h2 class="title">Our Epoxy Flooring Services</h2>
                                <h6 class="subtitle">We provide different epoxy flooring services such as epoxy flooring, epoxy flake flooring, epoxy terrazzo, epoxy coving, lined marking.</h6>
                            </div>
                        </div>
                        <!-- Row  -->
                    </div>
                </div>
<div class="feature16">
                    <div class="row">
                        <!-- ################### -->
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/epoxy.png' %}" class="img-fluid " alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Epoxy Flooring</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Epoxy floor coating is heat and water resistant.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Mostly used in garages and ware houses.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Epoxy flooring lastslonger than many types of flooring.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Variety of colors available.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <!-- ################### -->
						<div class="col-lg-6 col-md-6 col-sm-12 p-0 d-md-none d-lg-none">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/flakes.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Epoxy Flake Flooring</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Mosern looking epoxy floor with flakes on top.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Mostly used in home garage, restaurants, offices.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Heat and water resistant as well as long lasting.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Multiple colors available.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>

                            </div>
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 p-0 sm-hide">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/flakes.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <!-- ################### -->
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/epoxy-terrazzo.png' %}" class="img-fluid " alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Epoxy Terrazzo</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Flexible design and decorations.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Long life span.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Heat, water and chemical resistant.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Low odour.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <!-- ################### -->
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0 d-md-none d-lg-none">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/epoxy-coving.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Epoxy Coving</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Mostly done in production areas, commercial kitchens, wet areas.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>It makes joint between floor and wall smooth.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Heat, water and chemical resistant.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Long lasting.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>

                            </div>
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 p-0 sm-hide">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/epoxy-coving.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <!-- ################### -->
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/lined-marking-large.png' %}" class="img-fluid " alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Lined Marking</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Used in factories & warehouses, road marking, civil construction, sport court, concrete floors, parking facilities..</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Long lasting.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Heat, water and chemical resistant.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <!-- ################### -->
                    </div>
                </div>
				
            </div>
			<div class="mini-spacer bg-info text-white">
                <div class="container">
                    <div class="d-flex">
                        <div class="display-7 align-self-center"><strong>Are you happy with what we offer? Get free quote within an hour.</strong></div>
                        <div class="ml-auto m-t-10 m-b-10">
                            <button class="btn btn-outline-light btn-md" data-toggle="modal" data-target="#getQuote">Ask for Quatation</button>
                        </div>
                    </div>
                </div>
            </div>

	

	
{% endblock %}
