{% extends "webview/base.html" %}
{% block title %}Concrete Polishing, Grind & Seal Services{% endblock %}
{% block active_services %}active{% endblock %}
{% load static %}
{% block content %}

				<div class="static-slider10" style="background-image:url({% static 'webview/img/epoxy_bg.png' %}); object-fit:contain;">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center ">
                            <!-- Column -->
                            <div class="col-md-6 align-self-center text-center aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">
                                <h1 class="title">Concrete Polishing</h1>
                                <!--<a class="btn btn-outline-light btn-success-gradiant btn-rounded m-t-20 btn-md" data-toggle="modal" data-target="#static-slide7" href=""><i class="fa fa-play m-r-10"></i> Watch how we do </a> -->
                            </div>
                            <!-- Column -->
                            <div class="modal fade" id="static-slide7">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content p-0">
                                        <div class="modal-body p-0" id="yt-player">
                                            <iframe src="https://www.youtube.com/embed/DDwbjWCgxVM?" allowfullscreen="" class="w-100" height="315"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light py-5 px-2 feature15">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center">
                            <div class="col-md-7 text-center">
                                <h2 class="title">Our Concrete Polishing Services</h2>
                                <h6 class="subtitle">We provide different concrete polishing services such as concrete polishing, grind & seal and polished toppings.</h6>
                            </div>
                        </div>
                        <!-- Row  -->
                    </div>
                </div>
<div class="feature16">
                    <div class="row">
                        <!-- ################### -->
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/concrete-polish/concrete-polish.png' %}" class="img-fluid " alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Concrete Polish (Plain or Decorative)</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Transforming new/old concrete floor to shining attractive floor.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Sealing polished concrete floor for water, heat and chemical resistance and long lasting shininess.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Can be done in both industrial and residential places.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <!-- ################### -->
						<div class="col-lg-6 col-md-6 col-sm-12 p-0 d-md-none d-lg-none">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/concrete-polish/grind-and-seal.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Concrete Grind & Seal</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Grinding old/new concrete floor until feels like terrazzo floor.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Sealing grinded concrete for water, heat and chemical resistant.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Appropriate for both industrial and residential areas./span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>

                            </div>
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 p-0 sm-hide">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/concrete-polish/grind-and-seal.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <!-- ################### -->
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/concrete-polish/polished-toppings.png' %}" class="img-fluid " alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Polished Toppings (Repolish)</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Repolishing old polished concrete floor.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Brings back shininess to the floor.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Sealing polished concrete floor for water, heat and chemical resistance and long lasting shininess.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <!-- ################### -->

                    </div>
                </div>
				
            </div>
			<div class="mini-spacer bg-info text-white">
                <div class="container">
                    <div class="d-flex">
                        <div class="display-7 align-self-center"><strong>Are you happy with what we offer? Get free quote within an hour.</strong></div>
                        <div class="ml-auto m-t-10 m-b-10">
                            <button class="btn btn-outline-light btn-md" data-toggle="modal" data-target="#getQuote">Ask for Quatation</button>
                        </div>
                    </div>
                </div>
            </div>

	

	
{% endblock %}
