{% extends "webview/base.html" %}
{% block title %}Floor Preparation Services{% endblock %}
{% block active_services %}active{% endblock %}
{% load static %}
{% block content %}

				<div class="static-slider10" style="background-image:url({% static 'webview/img/epoxy_bg.png' %}); object-fit:contain;">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center ">
                            <!-- Column -->
                            <div class="col-md-6 align-self-center text-center aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">
                                <h1 class="title">Floor Preparation</h1>
                                <!--<a class="btn btn-outline-light btn-success-gradiant btn-rounded m-t-20 btn-md" data-toggle="modal" data-target="#static-slide7" href=""><i class="fa fa-play m-r-10"></i> Watch how we do </a> -->
                            </div>
                            <!-- Column -->
                            <div class="modal fade" id="static-slide7">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content p-0">
                                        <div class="modal-body p-0" id="yt-player">
                                            <iframe src="https://www.youtube.com/embed/DDwbjWCgxVM?" allowfullscreen="" class="w-100" height="315"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light py-5 px-2 feature15">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center">
                            <div class="col-md-7 text-center">
                                <h2 class="title">Our Floor Preparation Services</h2>
                                <h6 class="subtitle">We provide different floor preparation services such as floor leveling & screeds, safety grinding/non-slip.</h6>
                            </div>
                        </div>
                        <!-- Row  -->
                    </div>
                </div>
<div class="feature16">
                    <div class="row">
                        <!-- ################### -->
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/floor-preparation/floor-leveling.png' %}" class="img-fluid " alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Floor Leveling & Screeds</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Leveling unbalanced floor.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Adding extra layer of cement for smooth surface.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Leveling old concrete surfaces.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <!-- ################### -->
						<div class="col-lg-6 col-md-6 col-sm-12 p-0 d-md-none d-lg-none">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/floor-preparation/non-slip.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 text-white px-4 py-2" style="background-color:#263238;">
                            <div class="with-text m-2">
                                <h2 class="text-white m-t-30 m-b-30">Safety Grinding/Non-Slip</h2>
                                <ul class="list-block m-b-30" data-aos="flip-down">
                                    <li><i class="sl-icon-check"></i> <span>Grinding rough concrete surfaces.</span></li>
                                    <li><i class="sl-icon-check"></i> <span>Grinding slippery surfaces.</span></li>
                                </ul>
								<a class="btn btn-success-gradiant btn-arrow" data-toggle="modal" data-target="#getQuote" href="#"><span>Get Quote<i class="ti-arrow-right"></i></span></a>

                            </div>
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-12 p-0 sm-hide">
                            <!-- Column -->
                              <div class="card text-white m-0 box-shadow">
                                    <img src="{% static 'webview/img/floor-preparation/non-slip.png' %}" class="img-fluid" alt="Epoxy">
                                </div>
                            <!-- Column -->
                        </div>
                        <!-- ################### -->

                    </div>
                </div>
				
            </div>
			<div class="mini-spacer bg-info text-white">
                <div class="container">
                    <div class="d-flex">
                        <div class="display-7 align-self-center"><strong>Are you happy with what we offer? Get free quote within an hour.</strong></div>
                        <div class="ml-auto m-t-10 m-b-10">
                            <button class="btn btn-outline-light btn-md" data-toggle="modal" data-target="#getQuote">Ask for Quatation</button>
                        </div>
                    </div>
                </div>
            </div>

	

	
{% endblock %}
